#biens {
    @apply pt-60;

    article:first-of-type {
        @apply mb-30;
        h2 {
            @apply text-30;
            @apply text-grey-dark;
            @apply mb-30;

            span {
                @apply text-red;
            }
        }
    }

    article:nth-of-type(2) {
        @apply relative;
        @apply mb-30;
        @apply overflow-hidden;

        @apply h-400;

        > div {
            @apply absolute;
            left: 0;
            @apply h-full;
            @apply w-full;

            @apply grid;
            grid-template-columns: repeat(5, 1fr);
            @apply gap-30;
            
            pointer-events: none;

            > aside {
                @apply relative;
                @apply h-400;

                img {
                    @apply h-400;
                    width: calc(100vw - (15px * 2));
                    @apply object-cover;
                }

                > div {
                    @apply absolute;
                    @apply inset-0;
                    @apply bg-transparent-light;

                    @apply flex;
                    @apply flex-col;
                    @apply justify-end;

                    @apply text-white;

                    @apply px-30;
                    @apply pb-30;

                    h3 {
                        @apply text-30;
                        @apply pb-10;
                    }

                    p {
                        @apply text-25;
                    }

                    > div {
                        @apply mt-30;
                        @apply flex;
                        @apply justify-between;
                        @apply items-end;

                        @apply text-white;

                        a {
                            pointer-events: auto;
                        }

                        svg {
                            @apply cursor-pointer;
                            @apply w-6;
                            pointer-events: auto;
                        }
                    }
                }

                &:first-of-type {
                    @apply ml-15;
                }
            }
        }
    }

    article:last-of-type {
        @apply mx-15;
        @apply flex;
        @apply justify-between;
        @apply text-20;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        nav {
            @apply flex;
            @apply items-center;
            @apply cursor-pointer;
            @apply text-grey-dark;

            @apply transition-all;
            @apply duration-300;

            svg {
                fill: #424242;
            }

            &.active {
                @apply text-red;

                svg {
                    fill: #fc5555;
                }
            }
        }

        nav:first-of-type {
            svg {
                @apply mr-10;
            }
        }

        nav:last-of-type {
            svg {
                @apply ml-10;
            }
        }
    }
}

@screen md {
    #biens {
        @apply pt-80;

        article:first-of-type {
            @apply mb-60;
            h2 {
                @apply text-40;
                @apply mb-10;
            }
        }

        article:nth-of-type(2) {
            > div {
                aside {
                    img {
                        width: calc(50vw - (30px));
                    }
    
                    > div {
                        @apply pb-40;
                    }
                }
            }
        }

        article:last-of-type {
            @apply mx-60;
            @apply justify-end;

            nav:first-of-type {
                @apply mr-100;
            }
        }
    }
}

@screen xl {
    #biens {
        @apply pt-120;

        article:first-of-type {
            @apply flex;
            @apply items-start;
            @apply mx-160;
            h2 {
                @apply mb-0;
            }
            a {
                @apply flex-shrink-0;
                @apply ml-80;
            }
        }

        article:nth-of-type(2) {
            > div {
                aside {
                    img {
                        width: calc(25vw - (30px));
                    }

                    > div {
                        @apply pb-40;
                    }

                    &:first-of-type {
                        @apply ml-160;
                    }
                }
            }
        }

        article:last-of-type {
            @apply mx-160;
        }
    }
}

@screen extra {
    #biens {
        article:nth-of-type(2) {
            > div {
                aside {
                    &:first-of-type {
                        @apply ml-320;
                    }
                }
            }
        }

        article:last-of-type {
            @apply mx-320;
        }
    }
}
