header {
    @apply relative;
    min-height: 40vh;
    @apply bg-transparent-light;

    &::after {
        content: "";
        background-image: var(--img);
        @apply bg-cover;
        background-position: 0 var(--pos-y);
        @apply absolute;
        @apply inset-0;
        z-index: -1;
    }

    > section:last-of-type {
        @apply mt-120;
        @apply pb-60;

        h1 {
            @apply text-white;
            @apply text-40;
        }
    }
}

@screen md {
    header {
        > section:last-of-type {
            h1 {
                @apply text-80;
            }
        }
    }
}

@screen xl {
    header {
        min-height: 70vh;

        section:last-of-type {
            &.biens {
                @apply w-4/6;
            }

            &.agence {
                @apply w-5/6;
            }
        }
    }
}