section {
    @apply pt-30;
    @apply flex;
    @apply justify-between;
    @apply items-start;

    #logo {
        > svg {
            path {
                @apply hidden;

                &:last-of-type,
                &:nth-child(13) {
                    @apply block;
                }
            }
        }
    }

    #btn-menu {
        @apply cursor-pointer;
        @apply border-0;
        @apply border-b-2;
        @apply border-solid;
        @apply pb-10;
        @apply px-10;
        @apply text-20;
    }

    #menu-wrapper {
        @apply z-50;
        @apply fixed;
        @apply inset-0;
        @apply bg-transparent-dark;
        @apply flex;
        @apply justify-end;

        #menu {
            @apply h-full;
            @apply w-11/12;
            @apply bg-grey-dark;
            @apply px-30;

            @apply grid;
            grid-template-rows: fit-content(100%) 1fr fit-content(100%) fit-content(100%);
            @apply relative;

            svg {
                @apply cursor-pointer;
                @apply justify-self-end;
                @apply mt-20;
                @apply mr-10;
            }

            div {
                &:first-of-type {
                    @apply mt-25;
                }

                &:last-of-type {
                    @apply mb-30;
                }

                &:nth-of-type(2) {
                    @apply mb-10;
                    ul {
                        @apply grid-cols-2;

                        li:first-of-type {
                            @apply text-white;
                            @apply underline;
                        }
                    }
                }

                p {
                    @apply text-16;
                    @apply text-red;
                }

                ul {
                    @apply mt-10;
                    @apply grid;
                    @apply gap-30;

                    li {
                        a {
                            @apply inline-block;
                            @apply relative;
                            @apply text-white;
                            @apply text-25;
                            @apply no-underline;

                            @apply pb-5;

                            &.nuxt-link-exact-active {
                                &::after {
                                    content: "";
                                    @apply absolute;
                                    @apply bottom-0;
                                    @apply inset-x-0;
                                    height: 2px;
                                    @apply bg-white;
                                }
                            }
                        }
                    }
                }

                h3 {
                    @apply text-25;
                    @apply text-white;

                    &:first-of-type {
                        @apply mt-10;
                    }

                    &:last-of-type {
                        @apply mt-30;
                    }
                }
            }
        }
    }

    #pc-menu {
        @apply hidden;
    }
}

.slide-enter-active {
    transition: all 0.3s ease;
}
.slide-leave-active {
    transition: all 0.3s ease;
    transition-delay: 0.3s;
}
.slide-enter,
.slide-leave-to {
    transform: translateX(100%);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter-active {
    transition-delay: 0.3s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

@screen md {
    section {
        @apply pt-40;

        #logo {
            > svg {
                path {
                    @apply block;
                }
            }
        }

        #btn-menu {
            @apply text-25;
        }

        #menu-wrapper {
            #menu {
                @apply w-3/6;
            }
        }
    }
}

@screen xl {
    section {
        @apply flex;
        @apply justify-start;
        @apply items-center;

        #btn-menu {
            @apply hidden;
        }

        #menu-wrapper {
            @apply hidden;
        }

        #pc-menu {
            @apply block;
            @apply w-full;
            @apply ml-50;
            > ul {
                @apply flex;
                @apply justify-between;

                > div {
                    @apply flex;
                    @apply text-25;

                    @apply grid;
                    @apply content-center;
                    @apply justify-items-center;

                    &:first-of-type {
                        @apply grid-cols-3;
                        @apply gap-x-40;
                    }

                    &:nth-child(2) {
                        @apply grid-cols-3;
                        @apply gap-x-20;

                        > li {
                            @apply flex;
                            @apply items-center;
                        }

                        > li:nth-child(2) {
                            a {
                                @apply py-20;
                                @apply px-25;

                                @apply border;
                                @apply border-solid;

                                transition: all 0.3s ease-in-out;

                                &.white {
                                    @apply border-white;
                                    background-size: 200% 100%;
                                    background-image: linear-gradient(
                                        to right,
                                        rgba(255, 255, 255, 0) 50%,
                                        #fcfcfc 50%
                                    );

                                    &:hover {
                                        @apply no-underline;
                                        background-position: -100% 0;
                                        @apply text-red;
                                    }

                                    &.nuxt-link-exact-active {
                                        background-position: -100% 0;
                                        @apply text-grey-dark;
                                    }

                                    &::after {
                                        @apply hidden;
                                    }
                                }

                                &.black {
                                    @apply border-grey-dark;
                                    background-size: 200% 100%;
                                    background-image: linear-gradient(
                                        to right,
                                        rgba(255, 255, 255, 0) 50%,
                                        #424242 50%
                                    );

                                    &:hover {
                                        @apply no-underline;
                                        background-position: -100% 0;
                                        @apply text-white;
                                    }

                                    &::after {
                                        @apply hidden;
                                    }
                                }
                            }
                        }

                        > li:last-of-type {
                            @apply relative;
                            @apply cursor-pointer;

                            @apply bg-white;

                            div {
                                @apply flex;
                                @apply flex-col;
                                @apply items-center;

                                @apply py-10;
                                @apply px-20;

                                > svg {
                                    @apply mt-5;
                                }
                            }

                            > div:first-of-type {
                                @apply text-red;
                            }

                            > div:last-of-type {
                                @apply absolute;
                                top: 100%;

                                @apply bg-white;
                                @apply w-full;

                                @apply pt-0;

                                > div {
                                    @apply p-0;
                                }

                                > div:first-of-type {
                                    @apply pb-20;
                                    > a {
                                        @apply text-grey-dark;
                                        &:hover {
                                            @apply text-red;
                                        }
                                    }
                                }

                                > svg {
                                    @apply mt-20;
                                }
                            }
                        }
                    }

                    > li {
                        a {
                            @apply relative;
                            @apply no-underline;
                            @apply inline-block;

                            @apply overflow-hidden;
                            @apply pb-5;

                            &::after {
                                content: "";
                                @apply absolute;
                                @apply bottom-0;
                                @apply inset-x-0;
                                height: 2px;
                                transform: translateX(-100%);
                                transition: all 0.3s ease;
                            }

                            &.black {
                                @apply text-grey-dark;
                                &::after {
                                    @apply bg-grey-dark;
                                }
                            }

                            &.white {
                                @apply text-white;
                                &::after {
                                    @apply bg-white;
                                }
                            }

                            &.white,
                            &.black {
                                &:hover {
                                    &::after {
                                        transform: translateX(0%);
                                    }
                                }

                                &.nuxt-link-exact-active {
                                    &::after {
                                        transform: translateX(0%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
