#agence {
    @apply mt-60;
    article:first-of-type {
        h2 {
            @apply text-grey-dark;
            @apply text-30;

            @apply mt-10;
        }

        p {
            &:first-of-type {
                @apply text-red;
                @apply text-16;
            }

            &:not(:first-of-type) {
                @apply text-grey-dark;
                @apply text-16;
                @apply text-justify;
            }

            &:nth-of-type(2) {
                @apply mt-30;
            }

            &:last-of-type {
                @apply mt-10;
            }
        }
    }

    article:nth-of-type(2) {
        @apply mt-30;
        img {
            @apply object-cover;
            @apply w-full;
            max-height: 40vh;
        }

        #map {
            @apply w-full;
            height: 40vh;
        }
    }

    article:last-of-type {
        @apply mt-60;

        div {
            h2 {
                @apply text-grey-dark;
                @apply text-30;
            }

            p {
                @apply text-justify;
                @apply text-grey-dark;
                @apply text-16;
                @apply mt-30;
            }
        }

        img {
            @apply object-cover;
            @apply mt-30;
            @apply w-full;
            max-height: 60vh;
            @apply object-cover;
        }
    }
}

@screen md {
    #agence {
        @apply mt-80;
        article:first-of-type {
            @apply grid;
            @apply grid-cols-2;
            @apply gap-x-30;
            h2 {
                @apply text-40;
                @apply col-span-2;
            }

            p {
                &:first-of-type {
                    @apply text-25;
                    @apply col-span-2;
                }

                &:last-of-type {
                    @apply mt-30;
                }
            }
        }

        article:nth-of-type(2) {
            @apply grid;
            @apply grid-cols-5;
            img {
                max-height: 300px;
                @apply col-span-3;
            }

            #map {
                max-height: 300px;
                @apply col-span-2;
            }
        }

        article:last-of-type {
            @apply mt-80;

            @apply grid;
            @apply grid-cols-2;

            > div {
                @apply my-60;
                @apply pr-30;
                h2 {
                    @apply text-40;
                }
            }

            img {
                @apply mt-0;
                @apply h-full;

                @apply pr-35;
            }
        }
    }
}

@screen xl {
    #agence {
        @apply mt-120;
        > article:first-of-type {
            @apply grid;
            @apply grid-cols-3;
            @apply gap-30;

            p:first-of-type {
                @apply row-start-1;
                @apply col-start-1;
            }

            h2 {
                @apply row-start-1;
            }

            h2 {
                @apply mt-0;
                @apply col-start-2;
                @apply col-end-4;
            }

            p:nth-of-type(2) {
                @apply mt-0;
                @apply col-start-2;
            }

            p:nth-of-type(3) {
                @apply mt-0;
                @apply col-start-3;
            }
        }

        >article:nth-of-type(2) {
            @apply mt-60;
            @apply mx-160;

            img {
                max-height: 350px;
            }

            #map {
                @apply h-full;
                @apply max-h-full;
            }
        }

        >article:last-of-type {
            @apply mt-120;
            @apply mx-160;

            @apply grid;
            @apply grid-cols-2;
            @apply gap-100;

            div, img {
                @apply p-0;
            }
        }
    }
}

@screen extra {
    #agence {
        >article:nth-of-type(2) {
            @apply mx-400;
        }

        >article:last-of-type {
            @apply mx-400;
        }
    }
}